<!DOCTYPE html>
<html lang="CS">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Náhodný boulder</title>
    <style>
    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
    }

    .section {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
        background-color: #e3e3e3;
    }

    @media screen and (max-width: 900px) {
        .section {
            flex-basis: 100%;
        }
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="section">
            <label for="grades" style="margin-bottom: 10px">Zvolte obtížnosti V stupnice (čísla oddělená mezerou):</label><br>
            <input type="text" id="grades" name="grades" placeholder="2 4 5" style="margin-bottom: 10px"><br>
            <label for="angle" style="margin-bottom: 10px">Zvolte úhel stěny:</label><br>
            <input type="text" id="angle" name="angle" value="20" style="margin-bottom: 10px"><br>
            <button onclick="climb();" style="margin-bottom: 10px">Náhodný boulder</button>
            <p id="chosen_grades"></p>
            <p id="chosen_angle"></p>
            <p id="boulders_sc"></p>
        </div>
        <div class="section">
            <h2>Vybraný boulder:</h2>
            <p id="boulder"></p>
            <p id="grade"></p>
            <button onclick="copyToClipboard();">Zkopírovat jméno</button>
        </div>
        <div class="section">
            <label for="challenges" style="margin-bottom: 10px">Zvolte počet výzev:</label><br>
            <input type="number" id="challenges" name="challenges" value="1" style="margin-bottom: 10px" min="0"><br>
            <button onclick="challenge();" style="margin-bottom: 10px">Náhodné výzvy</button><br>
            <input type="checkbox" id="campus" name="campus" class="challenge"/>
            <label for="campus">Campus</label><br>
            <input type="checkbox" id="left_leg" name="left_leg" class="challenge"/>
            <label for="left_leg">Bez levé nohy</label><br>
            <input type="checkbox" id="right_leg" name="right_leg" class="challenge"/>
            <label for="right_leg">Bez pravé nohy</label><br>
            <input type="checkbox" id="left_hand" name="left_hand" class="challenge"/>
            <label for="left_hand">Bez levé ruky</label><br>
            <input type="checkbox" id="right_hand" name="right_hand" class="challenge"/>
            <label for="right_hand">Bez pravé ruky</label><br>
            <input type="checkbox" id="less_holds" name="less_holds" class="challenge"/>
            <label for="less_holds">Odebrat chyt</label><br>
            <input type="checkbox" id="fingers" name="fingers" class="challenge"/>
            <label for="fingers">Pouze tři prsty na každé ruce</label><br>
            <input type="checkbox" id="no_shoes" name="no_shoes" class="challenge"/>
            <label for="no_shoes">Bez lezeček</label><br>
            <input type="checkbox" id="no_chalk" name="no_chalk" class="challenge"/>
            <label for="no_chalk">Bez mága</label>
        </div>
        <div class="section">
            <h2>Počty boulderů</h2>
            {{ n_boulders | safe}}
        </div>
    </div>

</body>
    <script>
        const boulders = JSON.parse('{{ boulders | safe }}');
        const challenges = document.getElementsByClassName('challenge');

        function getRandomBoulder(boulders, grades) {
            let chosenBoulders = grades.reduce((acc, grade) => {
                if (boulders[grade]) {
                    acc.push(...boulders[grade]);
                }
                return acc;
            }, []);

            const possibleBoulders = chosenBoulders.length;

            if (possibleBoulders === 0) {
                return [0, null];
            }

            const randomIndex = Math.floor(Math.random() * chosenBoulders.length);

            return [possibleBoulders, chosenBoulders[randomIndex]];
        }

        function parseInputGrades() {
            const grades = document.getElementById('grades').value;

            const gradesArray = grades.split(' ').map(grade => parseInt(grade)).filter(grade => !isNaN(grade));
            if (gradesArray.length === 0) {
                return [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17];
            }

            return gradesArray;
        }

        async function climb() {
            const grades = parseInputGrades();
            const angle = getAngle();
            let [possibleBoulders, boulder] = [0, null];
            document.getElementById('boulder').innerText = "";
            document.getElementById('grade').innerText = "";
            if (boulders[angle]) {
                const correctAngleBoulders = boulders[angle];
                const k = Math.floor(5 + Math.random() * 10);
                for (let i = 1; i <= k; i++) {
                    [possibleBoulders, boulder] = getRandomBoulder(correctAngleBoulders, grades);
                    document.getElementById('boulder').innerText = boulder["name"];
                    document.getElementById('grade').innerText = "Obtížnost: V" + boulder["grade"];
                    await new Promise(r => setTimeout(r, 10*i));
                }
            }
            document.getElementById('chosen_grades').innerText = "Zvolené obtížnosti: " + grades.map(num => `V${num}`).join(' ');
            document.getElementById('chosen_angle').innerText = "Zvolený úhel stěny: " + angle + "°";
            document.getElementById('boulders_sc').innerText = "Počet možných boulderů: " + possibleBoulders;
        }

        function getAngle() {
            const angle = parseInt(document.getElementById('angle').value);
            if (isNaN(angle)) {
                return 20;
            }
            return angle;
        }

        function copyToClipboard() {
          const copyText = document.getElementById("boulder").innerText;

          navigator.clipboard.writeText(copyText);
        }

        function challenge() {
            for (let challenge of challenges) {
                if (challenge.checked) {
                    document.getElementById(challenge.id).checked = false;
                }
            }

            // Choose random challenges
            let nChallenges = parseInt(document.getElementById('challenges').value);
            nChallenges = Math.min(nChallenges, challenges.length);
            const chosenChallenges = [];
            while (chosenChallenges.length < nChallenges) {
                const randomIndex = Math.floor(Math.random() * challenges.length);
                if (!chosenChallenges.includes(randomIndex)) {
                    chosenChallenges.push(randomIndex);
                    document.getElementById(challenges[randomIndex].id).checked = true;
                }
            }
        }

    </script>
</html>